@tailwind base;
@layer base {
}

@tailwind components;
@layer components {
  table.table-auto {
    & > tbody > tr.table-separator {
      @apply border-t;
    }

    & > thead > tr > th,
    & > tbody > tr > td {
      @apply text-left py-1.5 px-2.5;
    }
    & > tbody > tr > td > a {
      @apply block w-full h-full py-1.5 px-2.5;
    }
  }

  select.selector {
    @apply py-2 px-2 pe-9 block w-full rounded-lg text-sm focus:border-blue-500 focus:ring-blue-500 disabled:opacity-50 disabled:pointer-events-none bg-transparent border;
  }
}

@tailwind utilities;
@layer utilities {
  *.overflow-x-scroll::-webkit-scrollbar-track {
    background: transparent;
  }
  *.overflow-x-scroll {
    scrollbar-width: thin;
    scrollbar-color: gray transparent;
    scrollbar-border: unset;
  }
}
